.container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.image{
  display: block;
  max-width: 100%;
  height: auto;
}

.text{
  font-weight: 700;
  color: var(--Dark-Grey);
}