.container {
  background-color: var(--White);
  min-height: 100vh;
  padding: 16px 16px 16px 16px;
}

.header {
  padding: 0 0 16px 8px;
  margin: 0 0 60px 0;
}

.linkBack {
  display: block;
  text-decoration: none;
  padding: 11px 27px;
  border-radius: 8px;
}

.buttonShare {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  appearance: none;
  border: none;
  cursor: pointer;
  padding: 11px 27px;
  border-radius: 8px;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.profileImage {
  display: block;
  width: 104px;
  height: 104px;
  border: 4px solid var(--purple);
  border-radius: 50%;
  margin: 0 auto 25px auto;
}

.profileText {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--Dark-Grey);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background-color: var(--color-01);
  margin: 0 auto 25px auto;
}

.cardProfile {
  max-width: 237px;
  margin: 0 auto;
}

.name {
  font-weight: 700;
  max-width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 8px 0;
}

.linkEmail {
  display: block;
  text-decoration: none;
  max-width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--Grey);
  margin: 0 0 56px 0;
}

.list {
  list-style: none;
}

.linkPlatform {
  text-decoration: none;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.linkPlatformContent {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
  color: var(--White);
  font-weight: 400;
}

.iconPlatform {
  display: inline-block;
  color: var(--White);
}

.linkPlatformFrontendMentor {
  color: var(--Dark-Grey);
  border: 1px solid var(--Borders);
}
.linkPlatformFrontendMentor .linkPlatformContent {
  color: var(--Dark-Grey);
}

.linkPlatformIcon {
  display: inline-block;
  color: var(--White);
}

.linkPlatformIconFrontendMentor {
  color: var(--Grey);
}

.listItem:not(:last-child) {
  margin: 0 0 20px 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    height: 100%;
    position: relative;
  }

  .header {
    padding: 24px 24px 255px 24px;
    margin: 0;
    background-color: var(--purple);
    border-radius: 0px 0px 32px 32px;
  }

  .nav {
    background-color: var(--White);
    padding: 16px 16px 16px 24px;
    border-radius: 12px;
  }

  .main {
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    top: 228px;
    left: 0;
    max-height: calc(100% - 228px);
    overflow: auto;
  }

  .cardProfile {
    max-width: 349px;
    margin: 0 auto 24px auto;
    padding: 48px 56px;
    background-color: var(--White);
    border-radius: 24px;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 950px) {
  .main {
    top: 208px;
    max-height: calc(100% - 208px);
  }
}
